*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
header{
    text-align: center;
    padding: 20px 0;
    width:100%;

}
header .head-line{
	font-size: 32px;
}
.nav-list{
	text-align: center;
	padding:15px 0;
	margin: 0 auto;
	border-bottom: 1px solid #848282;
	border-top: 1px solid #848282;
}
.nav-list-item{
	margin:0 20px;
	display: inline-block;
	list-style:none;
}